<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         ul{display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: blueviolet;
}
h1{text-align: center;
    color: #efbe40;;
}
img{width:350px;
    height: 450px;}
    *{background-color: black;}
    </style>
</head>
<body>
    <ul >
        <li>home</li>
        <li>Our services</li>
        <li>Contact us</li>
    </ul>
    
    <h1>sorry we are closed</h1>
    <center>  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJTgyd8kjjFhUrkHZcXwqrOGXBHihoBnF81g&usqp=CAU"  /></center>
</body>
</html>