<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
    ul{display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: blueviolet;
}
h1{text-align: center;
    color: #c519ff;
}
    img{
        display: flex;
        justify-content: center;

    }
    img{width:350px;
    height: 450px;}
    *{background-color: beige;}
    </style>
</head>
<body>
    <ul >
        <li>home</li>
        <li>Our services</li>
        <li>Contact us</li>
    </ul>
    
    <h1>welcome to our store </h1> 
  <center>  <img src="https://png.pngtree.com/png-clipart/20210427/ourlarge/pngtree-neon-we-open-fashion-light-sign-png-image_3247048.jpg"  /></center>
</body>
</html>